<div class="flex justify-center items-center">
  <form
    [formGroup]="form"
    (submit)="submit()"
  >
    <h1 class="text-center font-semibold text-xl">{{data.title}} пользователя</h1>
    <label for="login">Логин</label>
    <input id="login" type="text" placeholder="Логин" formControlName="login">
    @if (isInvalidLogin()){
      <span class="error">Это поле обезательное</span>
    }
    <label for="password">Пароль</label>
    <input id="password" type="password" placeholder="Пароль" formControlName="password">
    @if (isInvalidPassword()){
      <span class="error">Это поле обезательное</span>
    }
    <label for="role">Роль</label>
    <select id="role" formControlName="role">
      <option value="USER">Пользователь</option>
      <option value="ADMIN">Администратор</option>
    </select>
    <button class="bg-green-700 rounded text-center text-white mt-10 py-2" type="submit">
      Сохранить
    </button>
  </form>
  <button class="btn-close" (click)="close()"><mat-icon fontIcon="close"></mat-icon></button>
</div>
