<div class="container mx-auto">
  <table class="mt-3 w-full">
    <thead>
      <tr>
        <th>№</th>
        <th>Логин</th>
        <th>Роль</th>
        <th class="w-40">
          <button (click)="openCreate()" class="w-full text-white bg-green-700 rounded flex justify-center items-center">
            <mat-icon fontIcon="add"></mat-icon>
            Добавить
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index ){
        <tr>
          <td>{{$index+1}}</td>
          <td>{{user.login}}</td>
          <td>{{user.role}}</td>
          <td class="w-40 flex justify-center items-center gap-3">
            <button (click)="openEdit(user.id)">
              <mat-icon fontIcon="edit"></mat-icon>
            </button>
            <button (click)="delete(user.id)" class="text-red-600">
              <mat-icon fontIcon="delete"></mat-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
